<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/_pages/home.css" />
    <link rel="stylesheet" href="/styles/_components/navbar.css" />
    <link rel="stylesheet" href="/styles/_abstract/root.css" />
    <link rel="shortcut icon" href="assets/Jade_logo.png" type="image/x-icon" />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Jadebot.app</title>
  </head>
  <body>
    <%- include("../components/navbar.ejs") %>
    <div class="titleBox">
      <div class="header">
        <div class="header-bottom">
          <h1><span>Enchance</span><br />Your Discord Server</h1>
          <p>
            Echance your discord server with Jade! Starboards, Suggestions, Leveling, all the information in the world and
            much more with Jade.rubybots.co
          </p>
          <a href="/invite">Add the bot!</a>
        </div>
      </div>
    </div>
    <div class="lowerSection">
      <h1 class="lowerSection__title">
        <%= userCount %> users are taking advantage of Jade's features!
      </h1>
      <div class="features">
        <div class="feature">
          <div class="title">
            <i class="bx bxs-star"></i>
            <h2>Starboard</h2>
          </div>
          <div class="about">
            <p>
              Pin your/your communitys favorite things inside of your own
              server! Just react to the message with a
              <i class="bx bxs-star star"></i> for it to be sent into your
              desinated channel!
            </p>
          </div>
        </div>
        <div class="feature">
          <div class="title">
            <i class="bx bxs-bar-chart-square"></i>
            <h2>Leveling</h2>
          </div>
          <div class="about">
            <p>
              Level up your server! All you too keep track of your server
              members activity, allowing you to reward them! Add your own custom
              level role requirements, multipliers and more!
            </p>
          </div>
        </div>
        <div class="feature">
          <div class="title">
            <i class="bx bxs-hard-hat"></i>
            <h2>Management</h2>
          </div>
          <div class="about">
            <p>
              Allow Jade to take care of your server mangement. Manage your
              roles, channels and much more through Jade's simple yet effective
              slash commands!
            </p>
          </div>
        </div>
        <div class="feature">
          <div class="title">
            <i class="bx bxs-brain"></i>
            <h2>Suggestions</h2>
          </div>
          <div class="about">
            <p>
              Allow taking in community feedback to be easier with Jade! Allow
              members to suggest ideas etc, vote on them and finalise your own
              decision on them.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
